.form {
  margin-top: 55%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.message {
  margin: 0;
}